<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../images/favicon.png" type="image/x-icon">
    <title>Access Denied</title>
</head>

<body>
    <h1>
        Forbidden
    </h1>
    <a href="#" onclick="history.back()">Back</a>
    <a href="">Sign out</a>
</body>

</html>